* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Gudea', sans-serif;
  font-weight: normal
}

h1 {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin-top: 40px;
  font-size: 60px;
  color: #fff;
  background: rgba(239, 105, 116, 1);
  margin: 0;
  padding-top: 40vh
}

h1 a {
  font-size: 14px;
  color: #ccc;
  background: #e5626b;
  border-radius: 5px;
  padding: 2px 5px;
  border: 7px solid #e5626b;
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline
}

.slider {
  width: 100%;
  height: 80%;
  position: relative;
  margin-top: -20px;
  /*margin-bottom: -50px;*/
}

.slider ul, .slider ul li {
  width: 100%;
  height: 105%
}

.slider ul {
  position: relative;
  overflow: hidden
}

.slider ul li {
  position: absolute;
  top: 0;
  left: -100%;
  background-size: cover;
  /* semon #f98686 */
  background-position: center;
  color: #fff;
  font-family: serif;
}

.slider ul li:first-of-type {
  background-image: url("akcija.jpg")
}

.slider ul li:nth-of-type(2) {
  background-image: url("logo.png")
}

.slider ul li:nth-of-type(3) {
  background-image: url("logo_rehau.jpg")
}

.slider ul li:nth-of-type(4) {
  background-image: url("aluplast.jpeg")
}

.slider ul li:last-of-type {
  background-image: url("avtobus.jpg")
}

.slider .controll {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 44%;
  border-bottom: 3px solid #333;
  border-left: 3px solid #333;
  cursor: pointer;
  color: #333;
  z-index: 999999
}

.slider .controll:first-of-type {
  transform: rotate(45deg);
  left: 20px
}

.slider .controll:last-of-type {
  transform: rotate(225deg);
  right: 20px
}

.slider ol {
  text-align: center;
  padding-top: 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 999999
}

.slider ol li {
  display: inline-block;
  margin-right: 5px;
}

.slider ol .fa {
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  font-weight: normall
}

.slider ol li:hover .fa:before, .slider ol li.active .fa:before {
  content: "\f111"
}

@media(max-width: 490px) {
  h1 {
    font-size: 45px
  }
}

@media(max-width: 350px) {
  h1 {
    font-size: 25px
  }
}


/* VIRSION 03 */

.slide {
  width: 100%;
  height: 100vh;
  min-height: 550px;
  /*background-image: linear-gradient(rgba(239, 105, 116, .75), rgba(239, 105, 116, .3), rgba(239, 105, 116, .3), rgba(239, 105, 116, .3), rgba(239, 105, 116, .75));*/
  background-size: cover;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  color: red;
}

.slide .container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}

.slide h2 {
  font-weight: normal;
  font-size: 60px;
  text-transform: uppercase;
  position: absolute
}

.slide h2:first-of-type {
  top: 15px;
  left: 30px;
}

.slide h2:last-of-type {
  bottom: 150px;
  right: 190px;
  color: red;
}

.slide .slide-center {
  width: 100%;
  max-width: 550px;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.slide h3 {
  text-align: left;
  line-height: 175%;
  margin-bottom: 35px;
  padding: 15px;
  font-size: 22px
}

.slide button {
  width: 125px;
  height: 35px;
  margin: 0 10px 10px;
  text-transform: uppercase;
  color: #eee;
  background: rgba(239, 105, 116, 1);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold
}

.slide button:hover {
  opacity: 0.5
}

.slide img {
  margin: 10px 7px 7px
}

@media(max-width: 850px) {
  .slide h2 {
    font-size: 40px
  }
  .slide p {
    font-size: 20px
  }
}

@media(max-width: 700px) {
  .slide h2 {
    font-size: 30px;
    font-weight: bold
  }
  .slide p {
    font-size: 20px
  }
}

@media(max-width: 600px) {
  .slide h2 {
    font-size: 25px
  }
  .slide p {
    font-size: 17px
  }
}

@media(max-width: 450px) {
  .slide h2 {
    font-size: 20px;
    font-weight: bold
  }
  .slide p {
    font-size: 15px
  }
}
